@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Oswald", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.thinScroll::-webkit-scrollbar {
  display: none;
}
